@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.bg {}
.container {}
.heading {}
.board {}
.board_title {}
.form {}
.row {  
  display: inline;
  width: 100%;
  border:2px solid lightgray;
  padding: 10px;
  border-radius:6px;
  margin: 5px 0;
  cursor:grab;
  background-color:#fcfcf9;}
.text {}
.liComplited {}
.button {}
.count {}
.li {}

